@use "../globals/boilerplate" as b;

.crew {
    min-height: 100vh;

    background: url("/crew/background-crew-mobile.jpg") center/cover no-repeat;

    @media (min-width: 45rem) {
        background: url("/crew/background-crew-tablet.jpg") center/cover
            no-repeat;
    }

    @media (min-width: 60rem) {
        background: url("/crew/background-crew-desktop.jpg") center/cover
            no-repeat;
    }
}

.crew__main__con {
    padding: 2.4rem;
    display: flex;
    justify-content: center;

    @media (min-width: 45rem) {
        padding: 4rem;
    }
}

.crew__dets__con {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;

    @media (min-width: 76rem) {
        max-width: 111rem;
    }
}

.crew__dets {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @media (min-width: 45rem) {
        width: 51.2rem;
        margin-inline: auto;
    }

    @media (min-width: 76rem) {
        width: 100%;
        flex-direction: row;
        gap: 3.2rem;
    }
}

.crew__detail {
    padding-block-start: 4rem;
    width: 100%;
    max-width: 53.9rem;

    @media (min-width: 76rem) {
        padding-block-start: 0;
    }
}

.crew__det {
    margin-block-end: 2.44rem;

    @media (min-width: 76rem) {
        height: 67.1rem;
        margin-block-end: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.crew__position {
    font-size: 1.8rem;
    margin-block-end: 0.8rem;
    font-family: b.$Bellefair;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: b.$white;
    opacity: 0.5;

    @media (min-width: 45rem) {
        font-size: 2.4rem;
        margin-block-end: 1.6rem;
    }

    @media (min-width: 76rem) {
        font-size: 3.2rem;
        text-align: left;
    }
}

.crew__name {
    font-size: 2.4rem;
    text-align: center;
    color: b.$white;
    text-transform: uppercase;
    font-family: b.$Bellefair;
    font-weight: 400;
    margin-block-end: 2.4rem;

    @media (min-width: 45rem) {
        font-size: 4rem;
    }

    @media (min-width: 76rem) {
        font-size: 5.6rem;
        text-align: left;
    }
}

.crew__bio {
    font-size: 1.5rem;
    font-family: b.$Barlow-400;
    line-height: 1.8;
    text-align: center;
    color: b.$blue-300;
    height: 16.2rem;

    @media (min-width: 45rem) {
        font-size: 1.6rem;
    }

    @media (min-width: 76rem) {
        font-size: 1.8rem;
        text-align: left;
    }
}

.crew__nav__con {
    display: flex;
    gap: 1.6rem;
    justify-content: center;

    @media (min-width: 76rem) {
        height: 6.3rem;
        gap: 4rem;
        justify-content: flex-start;
    }
}

.crew__nav__item {
    width: 1rem;
    height: 1rem;
    background-color: b.$white;
    opacity: 17.44%;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background-color: b.$white;
        opacity: 50.01%;
    }

    &--active {
        background-color: b.$white;
        opacity: 100%;
    }

    @media (min-width: 76rem) {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.crew__img__con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 53.9rem;
    position: relative;

    @media (min-width: 45rem) {
        padding: 0 6rem;
    }

    @media (min-width: 76rem) {
        padding: 0 0 0 4rem;
    }

    &::after {
        content: " ";
        position: absolute;
        width: 100%;
        bottom: -1rem;
        height: 1rem;
        background-color: b.$blue-900;
        box-shadow: 0px -10px 25px 23px b.$blue-900;
        -webkit-box-shadow: 0px -10px 25px 23px b.$blue-900;
        -moz-box-shadow: 0px -10px 25px 23px b.$blue-900;
        pointer-events: none;
        z-index: 9;
    }
}

.crew__img {
    width: 27.124rem;
    padding-block: 1.5rem;
    position: relative;
    z-index: 1;

    @media (min-width: 45rem) {
        width: unset;
    }
}
